/*@media(prefers-color-scheme: dark) { detects if the user is in dark mode. You can then do that same script for light mode*/
/*---------------------------------------------------------------------------*/
/*@media(prefers-color-scheme: light) { ^this but for light mode*/
/*---------------------------------------------------------------------------*/
/*The CSS is the same, this just makes it so you can have complete control 
over what the site looks like in dark/light mode in the same effing CSS file*/
/*code is just copied and pasted from the main CSS file, but with the colors inverted*/
/*---------------------------------------------------------------------------*/
@media (prefers-color-scheme: dark) { 
  p {
    font-family: Arial;
    font-size: 0.6cm;
  }

  h1 {
    font-family: Arial;
    font-size: 1cm;
  }

  h2 {
      font-family: Arial;
      font-size: 1cm;
  }

  h3 {
      font-family: Arial;
      font-size: 1cm;
  }

    body {
      font-family: Arial;
      text-align: center;
      background: linear-gradient(to top right, black 70%, white 30%);
    }

  nav {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

    cur {
      font-family: Cursive;
    }

    a {
      color: white;
    }

    bigtext {
      font-size: 2cm;
    }

    breaker {
      color: black;
      font-size: 0.001cm;
    }

    #l {
      text-align: left;
    }

    #r {
      text-align: right;
    }

    #c {
      text-align: center;
    }

    button {
      background-color: black;
      border: solid;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
    }

    button:hover {
      background-color: white;
      color: black;
      border-color: grey;
      transition-duration: 0.4s;
    }

    .bigbutton {
      background-color: black;
      border: solid;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: underline;
      display: inline-block;
      font-size: 25px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
    }
}

@media (prefers-color-scheme: light) {
  p {
    font-family: Arial;
    font-size: 0.6cm;
  }

  h1 {
      font-family: Arial;
      font-size: 1cm;
  }

  h2 {
      font-family: Arial;
      font-size: 1cm;
  }

  h3 {
      font-family: Arial;
      font-size: 1cm;
  }

  body {
      font-family: Arial;
      text-align: center;
      background: linear-gradient(to top right, white 70%, black 30%);
      text-align: center;
  }

  cur {
      font-family: Cursive;
  }

  a {
      color: black;
  }

  bigtext {
      font-size: 2cm;
  }

  breaker {
      color: white;
      font-size: 0.001cm;
  }

  #l {
      text-align: left;
  }

  #r {
      text-align: right;
  }

  #c {
      text-align: center;
  }

  button {
      background-color: white;
      border: solid;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
  }

  button:hover {
      background-color: black;
      color: white;
      transition-duration: 0.4s;
      border-color: grey;
  }

  .bigbutton {
      background-color: white;
      border: solid;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: underline;
      display: inline-block;
      font-size: 25px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
      border-color: grey;
  }
}