/*@media(prefers-color-scheme: dark) { detects if the user is in dark mode. You can then do that same script for light mode*/
/*---------------------------------------------------------------------------*/
/*@media(prefers-color-scheme: light) { ^this but for light mode*/
/*---------------------------------------------------------------------------*/
/*The CSS is the same, this just makes it so you can have complete control 
over what the site looks like in dark/light mode in the same effing CSS file*/
/*code is just copied and pasted from the main CSS file, but with the colors inverted*/
/*---------------------------------------------------------------------------*/
@media (prefers-color-scheme: dark) { 
  p {
    font-family: Arial;
    font-size: 0.6cm;
    color: white;
  }

  h1 {
    font-family: Arial;
    font-size: 1cm;
    color: white;
  }

  h2 {
    font-family: Arial;
    font-size: 1cm;
    color: white;
  }

  h3 {
    font-family: Arial;
    font-size: 1cm;
    color: white;
  }

  body {
    font-family: Arial;
    text-align: center;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 79%, rgba(216, 216, 226, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 79%, rgba(216, 216, 226, 1) 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 79%, rgba(216, 216, 226, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#d8d8e2", GradientType=1); 
  }

  nav {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 79%, rgba(216, 216, 226, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 79%, rgba(216, 216, 226, 1) 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 79%, rgba(216, 216, 226, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#d8d8e2", GradientType=1); 
    color: white;
    text-align: center;
    font-family: Arial;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  cur {
    font-family: Cursive;
  }

  a {
    color: white;
  }

  bigtext {
    font-size: 2cm;
    color: white;
  }

  breaker {
    color: black;
    font-size: 0.001cm;
    color: white;
  }

  #l {
    text-align: left;
    color: white;
  }

  #r {
    text-align: right;
    color: white;
  }

  #c {
    text-align: center;
    color: white;
  }

  button {
    background-color: black;
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

  button:hover {
    background-color: white;
    color: black;
    border-color: grey;
    transition-duration: 0.4s;
  }

  .bigbutton {
    background-color: black;
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
}
@media (prefers-color-scheme: light){

  p {
    font-family: Arial;
    font-size: 0.6cm;
    color: black;
  }

  h1 {
    font-family: Arial;
    font-size: 1cm;
    color: black;
  }

  h2 {
    font-family: Arial;
    font-size: 1cm;
    color: black;
  }

  h3 {
    font-family: Arial;
    font-size: 1cm;
    color: black;
  }

  body {
    font-family: Arial;
    text-align: center;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 77%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 77%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 77%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1); 
    text-align: center;
  }

  nav {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 77%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 77%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 77%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1); 
    color: white;
    text-align: center;
    font-family: Arial;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  cur {
    font-family: Cursive;
    color: black;
  }

  a {
    color: black;
  }

  bigtext {
    font-size: 2cm;
  }

  breaker {
    color: white;
    font-size: 0.001cm;
  }

  #l {
    text-align: left;
    color: black;
  }

  #r {
    text-align: right;
    color: black;
  }

  #c {
    text-align: center;
    color: black;
  }

  button {
    background-color: white;
    border: solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

  button:hover {
    background-color: black;
    color: white;
    transition-duration: 0.4s;
    border-color: grey;
  }

  .bigbutton {
    background-color: white;
    border: solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border-color: grey;
  }
}